<h2>About</h2>

<p>We create awesome applications to help you!</p>

<ul>
  <li><strong>Id</strong>: <%= @id %></li>
  <li><strong>Page</strong>: <%= @page %></li>
</ul>

<%= link_to("Back to home", {controller: "main", action: "index"}) %>
