<% content_for(:title, 'Delete task') %>

<h1>Delete Task</h1>

<%= form_for(@task, method: 'delete') do |f| %>
  <%= render(partial: 'form', locals: { f: f }) %>

  <div>
    <%= f.submit("Delete Task") %>
  </div>
<% end %>
