<% content_for(:title, 'new task') %>

<h1>New Task</h1>

<%= form_for(@task) do |f| %>
  <%= render(partial: 'form', locals: { f: f }) %>

  <div>
    <%= f.submit("Create Task") %>
  </div>
<% end %>
